@import url('https://fonts.googleapis.com/css?family=Roboto');

:root {
	--main-bg-color: #eaecf8; /* Couleur arrière plan de la page */
	--header-color: #3b4ba8; /* Couleur du header principal */
	--nav-color: #252f69; /* Couleur du menu horizontal */
	--title-color: #131937; /* Couleur Couleur des titres */
	--footer-color: #929dd9;  /* Couleur du footer */
	--secondary-menu-color: #7f8c8d; /* Couleur du menu latéral vertical */
}


body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: var(--main-bg-color);
}

a {
    text-decoration: none;
    color: #432676;
    margin: 0;
    padding: 0;
}
iframe {
	width: 100%;
	height: 600px;
}

footer {
	background-color: var(--footer-color);
	width: 100%;
	margin-top: 150px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;									/* Pour que le padding s'effectue "à l'intérieur" de l'élément, sans l'élargir. */
	padding: 30px;
	text-align: center;
}
td {
	padding: 10px;
	border-bottom: solid black 1px;
}
td:nth-child(2) {
	border-left: solid black 1px;
}
tr:nth-child(2n+1) {
	background-color: #a9c7f9;
}

/*------ Element de chargement -----------*/

.circle-loader {
	position: fixed;
	top: 50%;
	left: 50%;
	fill: transparent;
	stroke: #b4e7fe;
	stroke-width: 4;
	animation: dash 2s ease infinite, rotate 2s linear infinite;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

@keyframes dash {
	0% {
		stroke-dasharray: 1, 95;
		stroke-dashoffset: 0;
	}
	50% {
		stroke-dasharray: 85, 95;
		stroke-dashoffset: -25;
	}
	100% {
		stroke-dasharray: 85, 95;
		stroke-dashoffset: -93;
	}
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

#loader {
	position: fixed;
	width: 100%;
	height: 100%;
	text-align: center;
	left: 0;
	top: 0;
	background-color: rgba(0, 0, 0, 0.4);
	line-height: 100%;
	display: none;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	z-index: 20;
}

#loader.open {
	display: block;
}


#main-header {
    width: 100%;
    height: 200px;
    left: 0;
    line-height: 200px;
    text-align: center;
    font-size: 3.3vw;
    text-transform: uppercase;
    background-color: var(--header-color);
    color: #fff;
    font-family: 'Roboto', sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    position: fixed;
    z-index: 1;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

#main-header.menuopen {
    height: 60px;
}

#main-header.hidden {
    color: rgba(0, 0, 0, 0);
}
#mobile-title {
    display: none;
}

#secondary-header {
    width: 100%;
    height: 60px;
    top: 0;
    line-height: 60px;
    text-align: center;
    font-size: 1.1em;
    text-transform: uppercase;
    background-color: var(--title-color);
    color: #fff;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    overflow: hidden;
    position: fixed;
    -webkit-box-shadow: 0px 1px 10px -5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 1px 10px -5px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 10px -5px rgba(0, 0, 0, 0.2);
    z-index: 20;
    -webkit-transform: translateY(-60px);
    -ms-transform: translateY(-60px);
    -o-transform: translateY(-60px);
    transform: translateY(-60px);
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

#secondary-header.visible {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}

#main-nav {
    width: 100%;
    text-align: center;
    background-color: var(--nav-color);
    position: fixed;
    top: 200px;
    z-index: 1;
    padding: 0;
	font-size: 1.3vw;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

#main-nav.menuopen {
    -webkit-transform: translateY(-140px);
    -ms-transform: translateY(-140px);
    -o-transform: translateY(-140px);
    transform: translateY(-140px);
}

#menubutton {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    z-index: 11;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
}


/* #menubutton.open {
	-webkit-transform: rotate(-180deg);
	-moz-transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
	-o-transform: rotate(-180deg);
	transform: rotate(-180deg);
} */

.menubar {
    width: 100%;
    height: 3px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: #eff0f0;
    /* 	background-color: #232424; */
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#menubutton.open .menubar:first-child {
    background-color: #eff0f0;
    -webkit-transform: translateY(11px) rotate(225deg);
    -moz-transform: translateY(11px) rotate(225deg);
    -ms-transform: translateY(11px) rotate(225deg);
    -o-transform: translateY(11px) rotate(225deg);
    transform: translateY(11px) rotate(225deg);
    -webkit-transition: transform 0.3s ease-in-out 0.2s;
    -moz-transition: transform 0.3s ease-in-out 0.2s;
    -ms-transition: transform 0.3s ease-in-out 0.2s;
    -o-transition: transform 0.3s ease-in-out 0.2s;
    transition: transform 0.3s ease-in-out 0.2s;
}

#menubutton.open .menubar:nth-child(2) {
    background-color: #eff0f0;
    -webkit-transform: scale(0, 1);
    -moz-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    -o-transform: scale(0, 1);
    transform: scale(0, 1);
}

#menubutton.open .menubar:last-child {
    background-color: #eff0f0;
    -webkit-transform: translateY(-11px) rotate(-45deg);
    -moz-transform: translateY(-11px) rotate(-45deg);
    -ms-transform: translateY(-11px) rotate(-45deg);
    -o-transform: translateY(-11px) rotate(-45deg);
    transform: translateY(-11px) rotate(-45deg);
    -webkit-transition: transform 0.3s ease-in-out 0.2s;
    -moz-transition: transform 0.3s ease-in-out 0.2s;
    -ms-transition: transform 0.3s ease-in-out 0.2s;
    -o-transition: transform 0.3s ease-in-out 0.2s;
    transition: transform 0.3s ease-in-out 0.2s;
}

.menu {
    margin: 0;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

#main-nav.hidden .menu {
    opacity: 0;
    -webkit-transform: translateX(-50%) scale(0.1, 1);
    -ms-transform: translateX(-50%) scale(0.1, 1);
    -o-transform: translateX(-50%) scale(0.1, 1);
    transform: translateX(-50%) scale(0.1, 1);
}

#main-nav.hidden #menubutton {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.menu li {
    margin: 0;
    display: inline-block;
    text-decoration: none;
}

.materialbutton {
    padding: 15px;
	display: inline-block;
    font-size: 1em;
    margin: 0;
    border: 0;
    outline: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    font-family: 'Roboto', sans-serif;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    overflow: hidden;
    position: relative;
	cursor: pointer;
}
.materialbutton:hover {
	background-color: rgba(255, 255, 255, 0.2);
}
#main-nav .materialbutton {
	font-family: "Nexa";
}
#main-nav .materialbutton::after {
	content: '';
	position: absolute;
	width: 90%;
	bottom: 25%;
	left: 5%;
	height: 2px;
	background-color: #96fff5;
	-webkit-transform: scale(0, 1);
	-moz-transform: scale(0, 1);
	-ms-transform: scale(0, 1);
	-o-transform: scale(0, 1);
	transform: scale(0, 1);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
#main-nav .materialbutton:hover {
	background-color: rgba(0,0,0,0);
}
#main-nav .materialbutton:hover::after {
	-webkit-transform: scale(1,1);
	-moz-transform: scale(1,1);
	-ms-transform: scale(1,1);
	-o-transform: scale(1,1);
	transform: scale(1,1);
}



.nav-relative {
	margin-top: 50px;
	text-align: center;
}
.navbutton, .navbutton:hover {
	background-color: var(--title-color);
}

.menu li a {
    color: #fff;
}

.menu .materialbutton {
    padding: 30px 20px;
}



.ripple {
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.7);
    position: absolute;
    transform: scale(0);
    animation: ripple 0.6s ease-out;
}

@keyframes ripple {
    to {
        transform: scale(2.5);
        opacity: 0;
    }
}




#detailed-menu {
    position: fixed;
    width: 30%;
    background-color: var(--secondary-menu-color);
    left: 0;
    bottom: 0;
    top: 140px;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

#detailed-menu.open {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}

#detailed-menu ul {
    list-style-type: none;
}

.dm-n1 {
    margin-left: -40px;
    padding: 0;
    margin-right: 0;
}

.dm-n1 .materialbutton {
    width: 100%;
    margin: 0;
    padding-left: 20px;
    text-align: left;
}

.dm-sub-menu {
    overflow: hidden;
    position: relative;
    background-color: rgba(0,0,0,0.2);
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.dm-sub-menu li {
    margin-top: -50%;
    margin-left: -40px;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.dm-sub-menu li .materialbutton {
    padding-left: 40px;
}

.dm-sub-menu.open li {
    /*    height: auto;*/
    margin-top: 0;
}

#main-page {
    position: absolute;
    width: 70%;
    right: 15%;
    top: 300px;
    padding: 20px 50px 0 50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #fbfbfb;
    border-radius: 2px;
    -webkit-box-shadow: 0px 0px 27px -5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 27px -5px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 27px -5px rgba(0, 0, 0, 0.5);
    z-index: 15;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#main-page.menuopen {
    -webkit-transform: translateX(21.5%);
    -ms-transform: translateX(21.5%);
    -o-transform: translateX(21.5%);
    transform: translateX(21.5%);
}

.titrepage {
	position: relative;
	font-size: 200%;
	font-weight: lighter;
	padding-bottom: 4px;
	border-bottom: solid #141414 2px;
}
.titrepage::after {
    content: '';
    background-color: #8e44ad;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    -webkit-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    -o-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
#main-page:hover .titrepage::after {
	-webkit-transform: scale(1, 1);
	-moz-transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	-o-transform: scale(1, 1);
	transform: scale(1, 1);
}

.titre1 {
    position: sticky;
    top: 60px;
    margin: 0;
    margin-top: 20px;
    background-color: var(--title-color);
    color: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    z-index: 3;
}

.titre2 {
    position: relative;
    margin: 0;
    margin-top: 20px;
    color: #141414;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    padding-bottom: 4px;
    border-bottom: solid #141414 2px;
    width: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    z-index: 2;

}
.titre2::after {
    content: '';
    background-color: #46addd;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    -webkit-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    -o-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transform-origin: left;
    -moz-transform-origin: left;
    -ms-transform-origin: left;
    -o-transform-origin: left;
    transform-origin: left;
}


.titre2:hover::after {
    -webkit-transform: scale(1,1);
    -ms-transform: scale(1,1);
    -o-transform: scale(1,1);
    transform: scale(1,1);
}

.titre3 {
    position: relative;
    margin: 0;
    margin-top: 20px;
    color: #141414;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    padding-bottom: 4px;
    border-bottom: solid #141414 2px;
    width: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    z-index: 2;

}.titre3::after {
    content: '';
    background-color: #e02828;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    -webkit-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    -o-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transform-origin: left;
    -moz-transform-origin: left;
    -ms-transform-origin: left;
    -o-transform-origin: left;
    transform-origin: left;
}

.center-image {
	text-align: center;
}
.center-image .img30 {
	width: 30%;
}
.center-image .img40 {
	width: 40%;
}
.center-image .img50 {
	width: 50%;
}
.center-image .img60 {
	width: 60%;
}
.center-image .img70 {
	width: 70%;
}
.center-image .img80 {
	width: 80%;
}
.center-image .img90 {
	width: 90%;
}

.titre3:hover::after {
    -webkit-transform: scale(1,1);
    -ms-transform: scale(1,1);
    -o-transform: scale(1,1);
    transform: scale(1,1);
}



#nota1 {
	padding: 20px;
	background-color: #c0c0c0;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
#liennota1:hover ~ #nota1 {
	background-color: #a0a0a0;
}




#popup {
	position: relative;
	background-color: #e74c3c;
	font-size: 110%;
	overflow: visible;
}
#popup::before {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	border: solid transparent 20px;
	border-top: solid rgb(44, 62, 80) 20px;
	left: 30%;
	top: -15px;
	transform-origin: top;
}
#popup::after {
	position: absolute;
	content: attr(popup);
	background-color: rgb(44, 62, 80);
	padding: 10px;
	width: 400%;
	left: -10%;
	bottom: 120%;
	font-size: 90%;
	transform-origin: 20% 100% 0;
}
#popup::after, #popup::before {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	-webkit-transform: translateY(30px) scale(0.2);
	-moz-transform: translateY(30px) scale(0.2);
	-ms-transform: translateY(30px) scale(0.2);
	-o-transform: translateY(30px) scale(0.2);
	transform: translateY(30px) scale(0.2);
	opacity: 0;
}
#popup:hover::after, #popup:hover::before {
	opacity: 1;
	-webkit-transform: translateY(0) scale(1);
	-moz-transform: translateY(0) scale(1);
	-ms-transform: translateY(0) scale(1);
	-o-transform: translateY(0) scale(1);
	transform: translateY(0) scale(1);
}

/*--------- Pour les petits écrans ----------*/

@media screen and (max-width: 750px) {
    #main-nav {
        position: fixed;
        top: 0;
        z-index: 20;
    }
    #main-nav.menuopen {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
    #main-header, #secondary-header {
        display: none;
    }
    #main-nav .menu a {
        display: none;
    }
    #main-nav .menu a:first-child {
        display: block;
        visibility: hidden;
    }
    #menubutton {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
    #mobile-title {
        display: block;
        position: absolute;
        left: 80px;
        right: 10px;
        top: 50%;
        color: #fff;
        font-size: 1.3em;
        -webkit-transform: translateY(-55%);
        -ms-transform: translateY(-55%);
        -o-transform: translateY(-55%);
        transform: translateY(-55%);
        text-align: center;
    }
    #main-page, #main-page.menuopen {
        position: static;
        margin-left: 5%;
        margin-top: 80px;
        width: 90%;
        padding: 5px 20px;
    }
    #main-page.menuopen {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
    #detailed-menu {
        position: static;
        width: 100%;
        margin-top: 80px;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
        opacity: 0;
    }
    #detailed-menu .dm-n1 {
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
        margin-top: -60px;
    }
    #detailed-menu.open {
        
        opacity: 1;
    }
    #detailed-menu.open .dm-n1 {
        margin-top: 0;
    }
    .titre1 {
        top: 80px;
    }
	#main-page img {
		width: 100%;
	}
}
